@page
@model IndexModel
@{
    ViewData["Title"] = "20 Questions";
}

<div class="text-center">
    <h1 class="display-4">Let's play 20 Questions!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center question">
    <h3>Is your animal a mammal?</h3>
</div>

<div class="text-center answers">
    <button class="yes-btn" type="button" id="yes-btn">
        YES
    </button>
    <button class="no-btn" type="button" id="no-btn">
        NO
    </button>
</div>