@page
@model RulesModel
@{
    ViewData["Title"] = "Rules";
}
<h1>@ViewData["Title"]</h1>

<p>How to play the 20 questions game:</p>
<p>In your mind, think of an animal. You will be asked a series of yes or no questions about your animal. 
    Answer these questions by clicking the yes and no boxes beneath the question.</p>
<p>Answer truthfully to the best of your knowledge. Once the game thinks that it has sufficiently narrowed
    down the pool of animals based on the answers to the questions, it will try to guess your animal.</p>